/*header css*/
.container{
    font-family: "Poppins-Regular";
    color: #313c47;
}
.navbar-fixed-top{
    background-color: #fff;
    box-shadow: 0px 15px 10px -15px #999999;
}
.nav.navbar-nav>li>a {
    color: #313c47;
    font-family: Poppins-Regular;
    font-size: 16px;
}
.icon-bar{
    background: #000;
}
.navbar-nav>li.active>a, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a:focus, .nav>li>a:hover, .nav>li>a:focus {
    color: #50c5c2;
    font-family: Poppins-Regular;
    font-size: 16px;
    background: transparent;
}
.login{
    margin:8px;
    padding: 6px 10px !important;
    color: #313c47 !important;
    font-family: Poppins-Medium !important;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;
}
.login:hover, .logout:focus{
    background: rgb(204, 204, 204) !important;
    color: #FFF !important;
}
.logout{
    margin: 8px;
    padding: 6px 10px !important;
    color: #22d9bb !important;
    font-family: Poppins-Medium !important;
    font-family: Poppins-Medium;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(34, 217, 187);
    border-radius: 5px;
}
.logout:hover, .logout:focus{
    background: #22d9bb !important;
    color: #FFF !important;
}
.home-banner-section-overlay {
    background:transparent; 
    z-index: 0;
    height: 70%;
    position: absolute;
    width: 100%;
}
.search-money-florida-section-overlay {
    background:transparent;
    z-index: 0;
    height: auto;
    position: absolute;
    width: 100%;
}
.sp{
    padding: 36px 0;
}
.story-img{
    padding: 18px 0;
}
.ma{
    margin: auto;
}
.last-line{
    margin-bottom: 60px;
}
.home-banner-section {
    /*height:70vh;*/
    min-height:500px;
    background-size:cover;
    background-image:url('../image/banr.png');
    margin-top: 90px;
}
.search-money-florida{
    min-height:330px;
    background-size:cover;
    background-image:url('../image/back.png');
    padding-top: 75px;
    padding-bottom: 90px;
}
.search-unclaimed-money-florida-page-banner{
    height:50vh;
    min-height:250px;
    background-size:cover;
    background-image:url('../image/back.png');
}
.search-unclaimed-money-florida-page-banner-section-overlay {
    background:transparent;
    z-index: 0;
    height: auto;
    position: absolute;
    width: 100%;
}
.home-banner-section .banner{
    margin-top: 8%;
}
.search-unclaimed-money-florida-page-banner .banner{
    margin-top: 12%;
}
.home-banner-section .banner-title{
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 46px;
}
.home-banner-section .banner-sub-title{
    color: #fff;
    font-family: Poppins-Regular;
    font-size: 22px;
}
.search-money-florida .banner-title{
    color: #fff;
    font-family: Poppins-Medium;
    font-size: 30px;
    /*margin-top: 50px;*/
    margin-bottom: 30px;
}
.find-it-section {
    padding-top: 120px;
    padding-bottom: 60px;
}
.how-it-work-section {
    padding: 80px 0;
}
.search-by-state {
    padding: 120px 0;
}
.find-it-section .find-it-head, .search-by-state .search-by-state-head{
    font-family: Poppins-SemiBold;
    font-size: 32px;
    color: #313c47;
    margin-bottom: 40px;
    margin-top: 0;
    line-height: 44px;
}
.how-it-work-section .how-it-work-head {
    font-family: Poppins-SemiBold;
    font-size: 32px;
    color: #313c47;
    margin-bottom: 80px;
    margin-top: 0;
}
.find-it-section .desc, .search-by-state .desc{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #313c47;
    text-align: left;
    line-height: 30px;
}
.card-hiw .card-name{
    font-family: Poppins-Regular;
    font-size: 16px;
    margin-top: 40px;
}
.card-hiw .card-description{
    font-family: Poppins-SemiBold;
    font-size: 18px;
}
/*arrow*/
.my-custom-field{
    position: relative;
}
.arrow_box{
    position: absolute;
    border-radius: 4px;
    background-color: rgb(243, 182, 7);
    color: #fff;
    font-size: 15px;
    font-family: "Poppins-Medium";
    top: -50px;
    padding: 8px 20px;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 24%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f3b607;
    border-width: 9px;
    margin-left: -9px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #f3b607;
    border-width: 10px;
    margin-left: -10px;
}
/*Page 2*/
.page-bar .page-breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    font-family: Poppins-Regular;
    font-size: 15px;
}
.page-bar .page-breadcrumb > li {
    display: inline-block;
}
.page-bar .page-breadcrumb > li a{
    color: #83888d;
}
.page-bar .page-breadcrumb > li.active a{
    color: #22d9bb;
}
.page-bar .page-breadcrumb > li:first-child:before {
    content: "";
}
.page-bar .page-breadcrumb > li:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    color: #95a2a9;
}
.last-search-unclaimed-money-florida-page{
    padding: 38px 0;
    background-color: rgb(34, 217, 187);
}
.search-unclaimed-money-florida-page-banner .banner-title, .last-search-unclaimed-money-florida-page .banner-title{
    color: #fff;
    font-family: "Poppins-Medium";
    font-size: 30px;
}
.last-search-unclaimed-money-florida-page .banner-title {
    margin: 0 0 10px 0;
    font-size: 24px;
}
.ad-unit-box{
    padding: 10px;
    background-color: rgb(242, 242, 242);
}
.page-header-box .article-title{
    font-family: "Poppins-Regular";
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.by-user-box{
    margin-bottom: 20px;
}
.aside-section .ad-unit{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.by-user-box .text-lightred{
    font-family: Poppins-Regular;
    font-size: 15px;
}
.by-user-box .text-high-lightred{
    font-family: Poppins-Bold;
    font-size: 15px;
}
.article-information-point h2{
    font-family: Poppins-SemiBold;
    font-size: 32px;
    color: #313c47;
}
.article-information-point .point-description p{
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #313c47;
    text-align: justify;
}
.article-information-point .point-description p a{
    color: #22d9bb;
    text-decoration: underline;
}
.ad-section-name{
    color: #999999;
    font-size: 12px;
    font-family: Poppins-Regular;
}
.related-articles-head{
    border-left: 2px solid rgb(239, 39, 66);
}
.related-articles-head h2{
    margin-left: 15px;
    font-family: Poppins-SemiBold;
    font-size: 24px;
    color: #333333;
}
.related-articles .articles-items{
    margin-left: 15px;
    margin-bottom: 20px;
}
.related-articles .articles-items .posted-user-name{
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    margin: 0;
}
.related-articles .articles-items .posted-post-name a{
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #2fcde8;
}
.form-inline.custom-field .form-group .form-control {
    width: 100%;
    font-size: 20px;
    font-family: "Poppins-Light";
    color: rgb(74, 74, 74);
    height: 75px;
    border: none;
}
.form-inline.custom-field2 .form-group .form-control {
    width: 100%;
    font-size: 20px;
    font-family: "Poppins-Light";
    color: rgb(74, 74, 74);
    height: 60px;
    border: none;
}
.custom-form-group {
    padding: 0 5px 0 0;
}
.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../image/select-box-arrow.png) no-repeat center right;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.form-inline.custom-field .custom-select {
    height: 75px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
}
.form-inline.custom-field .custom-select-arrow {
    width: 40px;
    height: 75px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 4px;
    right: 0;
}
.form-inline.custom-field2 .custom-select {
    height: 60px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
}
.form-inline.custom-field2 .custom-select-arrow {
    width: 40px;
    height: 60px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 4px;
    right: 0;
}
.my-search-btn-secondary{
    border-radius: 4px;
    background-color: rgb(239, 39, 66);
    box-shadow: 0px 3px 0px 0px rgba(177, 0, 24, 0.8);
    font-size: 22px;
    padding: 3px 18px;
    font-family: "Poppins-Medium";
    color: rgb(255, 255, 255);
    line-height: 2;
    height: 58px;
}
.my-search-btn-primary{
    border-radius: 4px;
    background-color: rgb(34, 217, 187);
    box-shadow: 0px 3px 0px 0px rgba(10, 189, 160, 1);
    font-size: 22px;
    padding: 3px 18px;
    font-family: "Poppins-Medium";
    color: rgb(255, 255, 255);
    line-height: 2;
    height: 72px;
}
.footer {
    background-color: rgb(233, 239, 244);
    font-family: Poppins-Regular;
    padding: 30px 0;
    font-size: 16px;
    color: #999999;
}
.footer p {
    font-size: 16px;
    color: #999999;
    margin: 0;
}

/*========== START NEWLY ADDED CSS ==========*/
#datatable {
    width: 100% !important;
    margin: 0;
    border-spacing: 0 10px;
    border-collapse: separate;
    border: 0;
    border-radius: 0;
}
.table-div .panel-body {
    padding: 0;
}
#dataTable tbody tr {
    background-color: #edf1f4;
}
#dataTable.table-striped > tbody > tr:nth-child(2n+1) > td,
#dataTable.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #e3e6e9;
}
#dataTable thead th {
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    vertical-align: top;
}
#dataTable thead th:nth-child(1) {
    width: 15% !important;
}
#dataTable thead tr {
    background-color: #222f3b;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}
#dataTable tbody td {
    background-color: transparent;
    border-top: 0;
    border-bottom: 3px solid #d1d5d9;
    padding: 15px;
    color: #444d4f;
    font-size: 14px;
    vertical-align: middle;
}
#dataTable tbody td i {
    vertical-align: middle;
    margin-right: 5px;
    color: #222f3b;
}
#dataTable tbody td:nth-child(1) {
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #f96579;
    text-decoration: underline;
}
.btn-table {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 0 #38ac9e;
    -moz-box-shadow: 0 3px 0 0 #38ac9e;
    -ms-box-shadow: 0 3px 0 0 #38ac9e;
    box-shadow: 0 3px 0 0 #38ac9e;
    border: 1px solid #33d4c0;
    background-color: #33d4c0;
    color: #fff;
    padding: 6px 10px;
}
.btn-table a {
    color: #FFF;
}
/*table.dataTable tbody tr {
    background-color: #FFF;
}
table.dataTable tbody tr:hover {
    background-color: #e6fbf9;
}*/
.progress-div {
    padding: 100px 0;
    background-color: #22d9bb;
    min-height: 650px;
}
.progress-div h1 {
    font-family: "Poppins-SemiBold";
    font-size: 46px;
    text-align: center;
    color: #FFF;
    margin-top: 50px;
}
.progress-div p {
    font-family: "Poppins-Regular";
    font-size: 20px;
    text-align: center;
    color: #FFF;
    margin: 20px 0 50px;
}
.progress {
    height: 50px !important;
    background: #1abfa4;
    box-shadow: none;
}
.progress-bar {
    line-height: 50px;
    background: #98e85d;
    color: #FFFFFF;
    font-size: 16px;
}
.bdr {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: #ebebeb;
}
.input-main-div {
    padding-right: 0;
}
.table-heading {
    font-size: 36px;
    margin: 40px 0 0;
}
.heading-bdr {
    height: 5px;
    width: 100px;
    background-color: #22d9bb;
    margin: 15px auto 50px;
}
.custom-entries-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../image/select-box-arrow.png) no-repeat center right;
    border: none;
    height: 45px;
    width: 80px;
    padding: 0 12px;
}
.custom-entries-select {
    height: 45px;
    width: 80px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background: #fff;
    -webkit-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -ms-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -o-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.custom-search {
    height: 45px;
    border-radius: 50px;
    padding: 15px;
    border: none;
    -moz-box-shadow:    inset -2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
    -ms-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
    -o-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
    box-shadow:         inset -2px 2px 5px rgba(0,0,0,0.5);
}
.footer a {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #999999;
}
.search-bg {
    background-color: #edf1f4;
    padding: 15px 0;
    margin-bottom: 40px;
}
.sub-heading {
    font-family: "Poppins-Regular";
    font-size: 20px;
    color: #313c47;
    text-align: center;

}
.people-name {
    color: #f96579;
    font-weight: bold;
}
.entries {
    font-family: "Poppins-SemiBold";
    font-size: 16px;
    color: #313c47;
    margin-right: 8px;
}
.pagination-div {
    background-color: #222f3b;
    color: #FFF;
    padding: 12px 15px;
}

.table-div-2 .panel-body {
    padding: 0;
}
.search-result {
    padding: 60px 0 80px;
}
.table-res {
    overflow-x: auto;
    padding: 0;
}

/*========== END NEWLY ADDED CSS ==========*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        float: left;
    }
    .home-banner-section .banner, .search-unclaimed-money-florida-page-banner .banner {
        margin-top: 16%;
    }
    .home-banner-section .banner-title{
        font-size: 22px;
    }
    .search-unclaimed-money-florida-page-banner {
        height: 50vh;
        min-height: 350px;
    }
    .search-money-florida {
        height: 35vh;
    }
    .search-money-florida .banner-title{
        margin: 15px 0;
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    table.dataTable thead th {
        display: none;
    }
    #dataTable .desktop-table {
        display: none;
    }
    .mob-table-main {
        border: none 0;
    }
    #dataTable .table-mob h2 {
        margin-top: 0;
        color: #5cb85c;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 15px;
    }
    #dataTable .table-mob p {
        font-size: 15px;
        font-weight: 300;
    }
    #dataTable .table-mob i {
        font-size: 18px;
        margin-right: 15px;
        color: #838383;
    }
    .form-inline.custom-field .form-group .form-control, .form-inline.custom-field .custom-select {
        height: 45px;
        font-size: 15px;
    }
    .form-inline.custom-field2 .form-group .form-control, .form-inline.custom-field2 .custom-select {
        height: 40px;
        font-size: 15px;
    }
    .my-search-btn-primary {
        height: 50px;
    }
    .my-search-btn-secondary {
        height: 48px;
    }
    .custom-form-group {
        padding: 0;
    }
    .input-main-div {
        padding-left: 0;
    }
    .search-money-florida {
        min-height: 400px;
    }
    .find-it-section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .find-it-section .find-it-head, .search-by-state .search-by-state-head {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .how-it-work-section {
        padding: 50px 0 10px;
    }
    .how-it-work-section .how-it-work-head {
        margin-bottom: 40px;
        font-size: 26px;
    }
    .card-hiw .card-name {
        margin-top: 20px;
    }
    .card-hiw .card-description {
        margin-bottom: 50px;
    }
    .search-by-state {
        padding: 60px 0;
    }
    .search-money-florida {
        padding-top: 50px;
    }
    .form-inline.custom-field .custom-select-arrow {
        height: 45px;
    }
    .form-inline.custom-field2 .custom-select-arrow {
        height: 40px;
    }
    .home-banner-section {
        margin-top: 50px;
    }
    .page-header-box .article-title {
        font-size: 20px;
        line-height: 28px;
    }
    .sub-heading {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    #dataTable .table-mob {
        display: none;
    }
    .navbar {
        padding: 18px 0;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .nav.navbar-nav {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav>li {
        text-align: center;
    }
    .home-banner-section .banner, .search-unclaimed-money-florida-page-banner .banner{
        margin-top: 22%;
    }
    .search-unclaimed-money-florida-page-banner .banner {
        margin-top: 22%;
    }
    .home-banner-section .banner-sub-title {
        color: #fff;
        font-size: 12px;
    }
    .home-banner-section .banner-title {
        color: #fff;
        font-size: 22px;
    }
    .search-unclaimed-money-florida-page-banner {
        height: 80vh;
    }
    .search-unclaimed-money-florida-page-banner .banner-title, .last-search-unclaimed-money-florida-page .banner-title{
        font-size: 18px;
    }
    .search-money-florida {
        height: 50vh;
    }
    .search-money-florida .banner-title{
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 20px;
    }
}
.entries-label {
    display: inline-block;
    vertical-align: middle;
}

.dataTables_info {
    font-family: "Poppins-Medium";
    font-size: 18px;
    color: #FFF !important;
    padding-top: 8px !important;
    background: #222f3b;
    padding: 15px !important;
    height: 60px;
}
.dataTables_paginate {
    background: #222f3b;
    padding: 12px 15px !important;
    height: 60px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #33d4c0 !important;
    color: #FFF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}