body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.1;
}
h2 {
	font-size: 30px;
	font-weight: 700;
}
p {
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
}
b {
    font-weight: 700;
}
#datatable {
    width: 100% !important;
    margin: 0;
    border-spacing: 0 0;
    border-collapse: separate;
    border: 0;
    border-radius: 0;
}
.table-div .panel-body {
    padding: 0;
}
#datatable tbody tr {
    background-color: #FFFFFF;
}
#datatable.table-striped > tbody > tr:nth-child(2n+1) > td,
#datatable.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FFFFFF;
}
#datatable thead th {
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    vertical-align: top;
}
#datatable thead th:nth-child(1) {
    width: 23% !important;
}
#datatable thead tr {
    background-color: #353167;
    box-shadow: none;
}
#datatable tbody .modal-text {
    background: #EBEAF4;
}
#datatable tbody .modal-text td {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background: #EBEAF4 !important;
}
#datatable tbody .modal-text .message {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
#datatable tbody .modal-text .btn-message {
    background: #81B44C;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    color: #FFFFFF;
}
#datatable tbody .modal-text .triangle-icon {
    position: absolute;
    top: -2px;
    right: 4.5%;
}
#datatable tbody .modal-text .btn-message i {
    color: #fff;
    margin-left: 5px;
    margin-bottom: 3px;
}
#datatable tbody td {
    background-color: transparent;
    border-top: 0;
    border-bottom: 2px solid #EBEAF4;
    padding: 15px;
    color: #444d4f;
    font-size: 15px;
    vertical-align: middle;
}
#datatable tbody td i {
    vertical-align: middle;
    margin-right: 8px;
    color: #353167;
}
#datatable tbody td:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    color: #353167;
    text-decoration: none;
}
.btn-table {
    border-radius: 6px;
    box-shadow: none;
    background-color: transparent;
    color: #81B44C;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #81B44C;
}
.btn-table:hover {
    background-color: transparent;
    color: #81B44C;
    border: 2px solid #81B44C;
}
.btn-table:focus {
    background-color: transparent;
    color: #EBEAF4;
    border: 2px solid #EBEAF4;
}
.btn-table a {
    color: #FFF;
}
.table-heading {
    font-size: 36px;
    margin: 40px 0 0;
}
.heading-bdr {
    height: 5px;
    width: 100px;
    background-color: #22d9bb;
    margin: 15px auto 50px;
}
.custom-entries-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../image/select-box-arrow.png) no-repeat center right;
    border: none;
    height: 45px;
    width: 80px;
    padding: 0px 12px;
}
.custom-entries-select {
    height: 45px;
    width: 80px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background: #fff;
    -webkit-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -ms-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    -o-box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
/*div#datatable_length > label {
    display: inline-block;
    vertical-align: middle;
}*/
input[type=search]{
    width: 250px;
    height: 50px;
    border-radius: 6px;
    padding: 15px;
    border: none;
    margin-left: 0.5em !important;
    box-shadow: none;
    color: #8B88AA;
}
.custom-search {
    width: 250px;
    height: 50px;
    border-radius: 6px;
    padding: 15px;
    border: none;
    margin-left: 0 !important;
    box-shadow: none;
    color: #8B88AA;
}
.search-bg {
    background-color: #EBEAF4;
    padding: 15px 0 10px;    
}
.search-bg > div {
    float: right;
    text-align: right;
}
.search-bg .srch-label-text {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: right;
    float: left;    
}
.article-title{
    display: none;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #353167;
}
.sub-heading {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
    
}
.people-name {
    color: #f96579;
    font-weight: bold;
}
.entries {
    font-size: 16px;
    color: #313c47;
    margin-right: 8px;
}
.dataTables_info {
    font-size: 18px;
    color: #FFF !important;
    padding-top: 8px !important;
    background: #353167;
    padding: 15px !important;
    height: 60px;
	width: 50%;
}
.dataTables_paginate {
    background: #353167;
    padding: 12px 15px !important;
    height: 60px;
	width: 50%;
}
.table-div-2 .panel-body {
    padding: 0;
}
.search-result {
    padding: 20px 0 80px;
}
.table-res {    
    padding: 0;
    float: left;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    color: #FFF;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}
#claimModal .modal-header {
    background: #33d4c0;
    border-radius: 6px 6px 0 0;
    padding: 10px 15px;
}
#claimModal .modal-content {
    border-radius: 12px;
}
#claimModal .modal-body {
    padding: 20px 20px 30px;
}
#claimModal .modal-header .header-heading {
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}
#claimModal .modal-text {
    font-size: 17px;
    margin-bottom: 15px;
}
#claimModal .close {
    display: none;
}
#claimModal .btn-modal {
    border-radius: 6px;
    box-shadow: none;
    border: none;
    background-color: #81B44C;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}
#claimModal .btn-modal:hover, #claimModal .btn-modal:focus {
    background-color: #638A3A;
    color: #fff;
}
#datatable_length{display: none;}
/* ==================== SEARCH FORM ==================== */

.search-unclaimed-money-florida-page-banner{
    background: #8B88AA;
    padding: 50px 0;
}
.search-unclaimed-money-florida-page-banner .banner-title {
	color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
}
.form-inline.custom-field .form-group .form-control {
    width: 100%;
	font-size: 20px;
    color: rgb(74, 74, 74);
    height: 60px;
    border: none;
}
.form-inline.custom-field2 .form-group .form-control {
    width: 100%;
	font-size: 20px;
    color: rgb(74, 74, 74);
    height: 60px;
    border: none;
}
.custom-form-group {
    padding: 0 5px 0 0;
}
.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../image/select-box-arrow.png) no-repeat center right;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.form-inline.custom-field .custom-select {
    height: 60px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
}
.form-inline.custom-field .custom-select-arrow {
    width: 40px;
    height: 60px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 4px;
    right: 0;
}
.form-inline.custom-field2 .custom-select {
    height: 60px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
}
.form-inline.custom-field2 .custom-select-arrow {
    width: 40px;
    height: 60px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 4px;
    right: 0;
    font-size: 16px;
    font-weight: 700;
}
.my-search-btn-primary {
    border-radius: 6px;
    background-color: #81B44C;
    font-size: 22px;
    padding: 3px 18px;
    color: rgb(255, 255, 255);
    line-height: 2;
    height: 60px;
}
.my-search-btn-primary:hover, .my-search-btn-primary:focus {
    background-color: #638A3A;
    color: rgb(255, 255, 255);
}
.loading-cont, .no-match {
    margin-top: 49px;
}
.no-access {
    display: none;
    margin-top: 64px;
}
.loading-cont .loading-icn {
    width: 100px;
    margin-bottom: 8px;
}
.loading-cont .loading-text {
    font-size: 16px;
    font-weight: 400;
    color: #353167;
}
.no-match .loading-text {
    font-size: 24px;
    font-weight: 700;
    color: #353167;
}
.no-access .heading {
    font-size: 24px;
    font-weight: 700;
    color: #353167;
    margin: 0 0 8px;
}
.no-access .sub-heading {
    font-size: 16px;
    font-weight: 400;
    color: #353167;
    margin: 0 0 24px;
}
.no-access .btn-visit-site {
    border-radius: 6px;
    background-color: #81B44C;
    font-size: 22px;
    padding: 3px 18px;
    color: rgb(255, 255, 255);
    line-height: 2;
    height: 60px;
}
.no-access .btn-visit-site:hover, .my-search-btn-primary:focus {
    background-color: #638A3A;
    color: rgb(255, 255, 255);
}
.no-browser {
    display: none;
    margin-top: 64px;
}
.no-browser .heading {
    font-size: 24px;
    font-weight: 700;
    color: #353167;
    margin: 0 0 8px;
}
.no-browser .sub-heading {
    font-size: 16px;
    font-weight: 400;
    color: #353167;
    margin: 0 0 24px;
}
.no-browser img {
    margin: auto;
}
.modal-text {
    text-align: center;
}
#sub-heading-locate {
    display: none;
}
.form-inline.custom-field .form-group .form-control.error {
    border: 2px solid #F2DA3E;
}
.form-inline.custom-field .form-group label.error {
    color: #F2DA3E;
    font-weight: 700;
    text-align: left;
    float: left;
}

/* ==================== MEDIA QUERY ====================*/

@media screen and (min-width: 992px) {
    .input-main-div {
        padding-right: 0px;
    }

    #datatable tbody .modal-text .message {
        padding: 0px 110px;
    }   
}

@media screen and (min-width: 768px) {
    #datatable .table-mob {
        display: none;
    }
    .modal-dialog {
        width: 380px;
        margin: 100px auto;
    }    
}
@media screen and (max-width: 767px) {
    .margtop_90{
        margin-top: 50px !important;
    }
    table.datatable thead th {
        display: none;
    }
    #datatable .desktop-table {
        display: none;
    }
    .mob-table-main {
        border: none 0;
    }
    #datatable .table-mob h2 {
        margin-top: 0;
        color: #5cb85c;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 15px;
    }
    #datatable .table-mob p {
        font-size: 15px;
        font-weight: 300;
    }
    #datatable .table-mob i {
        font-size: 18px;
        color: #838383;
        float: left;
        margin-right: 0;
        width: 20px;
    }
    #datatable .table-mob .main-content {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    #datatable .table-mob .content-right {
        float: left;
        width: 80%;
        margin-left: 15px;
        display: inline;
    }
    .sub-heading {
        font-size: 15px;
    }
    .dataTables_paginate {
        height: auto;
        margin: 0 !important;
    }
    #claimModal .modal-dialog {
        margin: 0;
    }
    #claimModal .modal-content {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    #claimModal .modal-body {
        padding: 100px 15px;
    }
    #claimModal .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .article-title {
        font-size: 30px;
    }
    .search-result {
        padding: 20px 0 50px;
    }
    .search-bg {        
        float: left;
        width: 100%;
    }
    .search-unclaimed-money-florida-page-banner{
        padding: 30px 0;
    }
    .search-unclaimed-money-florida-page-banner .banner-title {
        font-size: 30px;
    }
    .input-main-div, .custom-form-group {
        padding: 0;
        margin-bottom: 10px;
    }
    .search-bg > div {
        float: none;
    }
    .search-bg .srch-label-text {
        width: 100%;
        text-align: left;        
    }    
    input[type=search] {
        width: 100%;
        margin-top: 10px;
    }
    .custom-search {
        width: 100%;
        margin-top: 10px;
    }
    #claimModal .modal-text {
        margin-bottom: 30px;
    }
    .form-inline.custom-field .form-group .form-control, .my-search-btn-primary, .form-inline.custom-field .custom-select, .form-inline.custom-field .custom-select-arrow {
        height: 50px;
    }
    .no-line-brk {
        display: none;
    }
    .loading-cont, .no-match {
        margin-top: 0px;
    }
    .no-access {
        margin-top: 0px;
    }
    .no-browser {
        margin-top: 0px;
    }
    #datatable tbody .modal-text .triangle-icon {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}